@import "var";

* {
    box-sizing: border-box;
}
#svg {
    fill: $color_5;
    vertical-align: middle;
}
img {
    object-fit: cover;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $color_6;
}
.container-xl {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-xxl {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}
p {
    margin: 0;
}
.active {
    color: $color_2_accent;
}

.header-block {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 382px 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logo contacts contacts"
        "logo nav nav";

    &_logo {
        grid-area: logo;
        display: flex;
        & img {
            display: block;
            padding-bottom: 6px;
        }
        & .pages {
            display: block;
            font-weight: 400;
            font-size: 36px;
            line-height: 45px;
            color: $color_4;
            & span {
                font-weight: 700;
                font-size: 45px;
                line-height: 45px;
                color: $color_2_accent;
                padding: 0 4px;
            }
        }
    }
    &_nav {
        grid-area: nav;
    }

    &_contacts {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: contacts;

        & .contacts_lang .lang-link {
            color: $color_5;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            padding: 5px 7px;
        }
        & .contacts_lang .lang-link:hover,
        .contacts_lang .lang-link:focus {
            background: $color_2_accent;
            border-radius: 8px;
            outline: none;
            color: $color_1;
        }

        & .lang-link.active {
            background: $color_2_accent;
            border-radius: 8px;
            outline: none;
            color: $color_1;
        }

        & .contacts_address p {
            color: $color_5;
            margin: 0;
            line-height: 20px;
        }

        & .point.fb {
            vertical-align: middle;
        }
        & .contacts_tel {
            font-weight: 700;
            color: $color_5;
        }
    }
    & .navbar.navbar-expand-lg {
        padding: 0;
    }
    & .nav_list {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
        font-weight: 700;
        line-height: 20px;

        & .nav-link {
            margin-right: 15px;
            color: $color_3_active;
        }
        & .nav-link:last-child {
            margin-right: 0px;
        }
        & .nav-link a:hover,
        .nav-link a:focus {
            text-decoration: underline;
            outline: none;
            color: $color_3_active;
        }
        & .nav-link.active {
            color: $color_2_accent;
            text-decoration: underline;
        }
    }
}
.point {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #e6e6f0;
    border-radius: 50%;
    margin: 0 6px;
    vertical-align: middle;
}
.tel:hover,
.tel:focus {
    text-decoration: underline;
    color: $color_2_accent;
}

#svg:hover {
    fill: $color_2_accent;
}

// Main
.team-block {
    padding: 60px 0;
    text-align: center;
    &_title {
        max-width: 81%;
        margin: 0 auto;
        & h1 {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            background: linear-gradient(
                90.13deg,
                #f0145a 0.84%,
                #ef8080 99.96%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left;
        }
    }
    &_list {
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        & .team-info {
            max-width: calc(33.33% - 40px);
            text-align: left;
            position: relative;
            & img {
                width: 100%;
                border-radius: 12px;
            }
            & h3 {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: $color_4;
                margin: 15px 0 5px;
            }
            & h3:hover {
                color: $color_2_accent;
            }
            & p {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $color_5;
            }
            & #btn-team {
                position: absolute;
                right: 0;
                bottom: 15px;
            }
            & #btn-accent {
                position: absolute;
                right: 0;
                bottom: 15px;
                opacity: 0;
            }
            & #btn-team:hover {
                opacity: 0;
            }
            & #btn-accent:hover {
                opacity: 100;
            }
        }
    }
}

// Footer

footer {
    background: #f5f5fa;

    & .footer-block {
        padding: 30px 0;
        border-top: 2px solid #e6e6f0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "address info"
            "contacts contacts";
        & .footer_address {
            grid-area: address;
        }
        & .footer_contacts {
            grid-area: contacts;
            display: flex;
        }
        & .footer-company_info {
            grid-area: info;
        }

        & .contacts_address {
            color: $color_4;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 21px;
        }
        & .point.grey {
            background-color: #b3b3ba;
            margin: 0 10px;
        }
        & .point.grey.fb {
            vertical-align: super;
        }
        & .text_accent {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: $color_3_active;
            text-transform: uppercase;
        }
        & .text_accent a:hover,
        .text_accent a:focus {
            color: $color_2_accent;
        }
        & .contacts_fb {
            display: inline-block;
        }
        & .contacts_tel {
            display: inline-block;
            & .tel {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: $color_4;
            }
        }
        & .contacts_mail {
            display: inline-block;
            & .mail {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: $color_3_active;
            }
            & .mail:hover,
            .mail:focus {
                color: $color_2_accent;
            }
        }
        & .footer-company_info {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: $color_5;
            text-align: right;
        }
    }
}
#svg_accent:hover,
#svg_accent:focus {
    fill: $color_2_accent;
}

@import "adaptive";
@import "adaptiveteam";
